doctype html
html(lang='ko')
	head
		title 캐릭터
		style.
			table {
				width: 100%;
				border-top: 1px solid #444444;
				border-collapse: collapse;
			}
			th, td {
				border-bottom: 1px solid #444444;
				padding: 10px;
			}

	body
		#header 
			h1.title 캐릭터 목록 추가하기

	form(
		action="/animal/"
		method="POST"
	)
		table 
			tr 
				td 
					input(
						type="text" name="name" placeholder="이름"
					)
			tr 
				td 
					input(
						type="text" name="information" placeholder="정보"
					)
			tr 
				td 
					input(
						type="text" name="image" placeholder="이미지"
					)
			tr
				td 
					input(
						type="text" name="animation" placeholder="애니메이션 이미지"
					)
		br
		input(
			type="submit"
			value="전송하기"
		)

	br
	br

	table
		tr
			td id
			td name
			td information 
			td image
		for animal in animals
			tr
				td= animal.dataValues.id
				td= animal.dataValues.name 
				td= animal.dataValues.information 
				td= animal.dataValues.image 
