doctype html
html(lang='ko')
	head
		title 클래스 콘텐트
		style.
			table {
				width: 100%;
				border-top: 1px solid #444444;
				border-collapse: collapse;
			}
			th, td {
				border-bottom: 1px solid #444444;
				padding: 10px;
			}

	body
		#header 
			h1.title 클래스 콘텐트 목록 추가하기

	form(
		action="/class-content/input"
		method="POST"
	)
		table 
			tr 
				td 
					input(
						type="number" name="step" placeholder="순서"
					)
			tr 
				td 
					input(
						type="text" name="name" placeholder="이름"
					)
			tr 
				td 
					input(
						type="text" name="subtitle" placeholder="자막"
					)
			tr 
				td 
					input(
						type="number" name="class_id" placeholder="class_id"
					)
		br
		input(
			type="submit"
			value="전송하기"
		)

	br
	br

	table
		tr
			td id
			td name
			td subtitle 
			td class_id
		for classContent in classContents
			tr
				td= classContent.dataValues.id
				td= classContent.dataValues.step 
				td= classContent.dataValues.subtitle 
				td= classContent.dataValues.class_id 
