doctype html
html(lang='ko')
	head
		title 클래스 콘텐트
		style.
			table {
				width: 100%;
				border-top: 1px solid #444444;
				border-collapse: collapse;
			}
			th, td {
				border-bottom: 1px solid #444444;
				padding: 10px;
			}

	body
		#header 
			h1.title 클래스 콘텐트 목록 추가하기

	form(
		action="/lesson-content/"
		method="POST"
	)
		table 
			tr 
				td 
					input(
						type="number" name="step" placeholder="순서"
					)
			tr 
				td 
					input(
						type="text" name="name" placeholder="이름"
					)
			tr 
				td 
					input(
						type="text" name="subtitle" placeholder="자막"
					)
			tr 
				td 
					input(
						type="text" name="video" placeholder="영상파일 이름"
					)
			tr 
				td 
					input(
						type="number" name="lesson_id" placeholder="lesson_id"
					)
		br
		input(
			type="submit"
			value="전송하기"
		)

	br
	br

	table
		tr
			td id
			td 순서
			td 제목
			td 자막 
			td 영상파일 이름
			td lesson id
		for lessonContent in lessonContents
			tr
				td= lessonContent.dataValues.id
				td= lessonContent.dataValues.step
				td= lessonContent.dataValues.name
				td= lessonContent.dataValues.subtitle 
				td= lessonContent.dataValues.video
				td= lessonContent.dataValues.lesson_id 
